html
    head
        title= title
        //- favicon
        link(rel="favicon", sizes="64x64", href="./favicon.icon")
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    body
        block content
            h1= message
            div#app.class1.class-2 侧首

        block footer
            #footer
            p this is footer